* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: white;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #020617;
}

header h1 {
    color: #38bdf8;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}

/* HOME */
.home {
    text-align: center;
    padding: 100px 20px;
}

.home h2 {
    font-size: 40px;
}

.home button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: #38bdf8;
    color: black;
    cursor: pointer;
    border-radius: 10px;
}

/* SECTIONS */
section {
    padding: 60px 20px;
    text-align: center;
}

/* PROJECTS */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    border-radius: 15px;
    width: 200px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    background: rgba(255,255,255,0.1);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}
